.movie-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(62, 171, 162);
}

h1 {
  font-size: 45px;
  margin-bottom: 50px;
  color: white;
}

.btn-container {
  display: flex;
  justify-content: center;
}


