.movie-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 45px;
  margin-bottom: 50px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {

}
