<app-navbar></app-navbar>
<div class="movie-view">
    <mat-card *ngFor="let movie of movies;" class="movie-card">
      <mat-card-header>
        <div class="movie-title">{{ movie.Title }}</div>
        <mat-card-subtitle>Directed by: {{ movie.Director.Name }}</mat-card-subtitle>
      </mat-card-header>
      <img class="movie-image" [src]="movie.ImagePath" [alt]="movie.Title" />
      <mat-card-actions class="movie-actions">
        <button mat-button color="primary" (click)="getGenre(movie.Genre)">Genre</button>
        <button mat-button color="primary" (click)="getOneDirector(movie.Director)">Director</button>
        <button mat-button color="primary" (click)="openMovieDetails(movie.Description)">Synopsis</button>
        <button mat-icon-button color="warn" (click)="toggleFav(movie)">
          <mat-icon *ngIf="!isFav(movie)" style="transform: scale(1.5);">favorite_border</mat-icon>
          <mat-icon *ngIf="isFav(movie)" style="transform: scale(1.5);">favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  