.movie-view {
  display: flex;
  margin: .5rem auto;
  padding: 2rem;
}

.movie-card {
  margin-top: 15vh;
  margin-right: 20px;
  width: 50vw;
  justify-self: center;
  justify-content: center;
  padding: 5px;
}